<%- include('../layouts/HeadSection') -%>

    <body>
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
            data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

            <%- include('../layouts/Header') -%>
                <%- include('../layouts/SideBar') -%>

                    <div class="page-wrapper">

                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <!-- <h4 class="page-title">Dashboard</h4> -->
                                    <div class="ms-auto text-end">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    Add
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <form
                                    class="form-horizontal shadow col-10 col-md-8 col-lg-6 mx-auto my-5 bg-light shadow p-5 text-center"
                                    method="post" action="/api/admin/changepassword">
                                    <div class="card-body">
                                        <%if(message [0]) { %>
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <%= message[0] %>
                                            </div>
                                            <% } %>
                                                <!-- Profile Heading -->
                                                <h4 class="card-title mb-4 fs-3 fw-bold">Change Password</h4>

                                                <!-- Profile Image -->


                                                <!-- Username Field -->
                                                <div class="form-group row mb-3">
                                                    <label for="username"
                                                        class="col-sm-3 text-end control-label col-form-label">CurrentPassword:</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" class="form-control" id="username"
                                                            name="password" placeholder="Enter your Password" />
                                                    </div>
                                                </div>

                                                <div class="form-group row mb-3">
                                                    <label for="username"
                                                        class="col-sm-3 text-end control-label col-form-label">NewPassword:</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" class="form-control" id="username"
                                                            name="new_pass" placeholder="Enter your NewPassword" />
                                                    </div>
                                                </div>

                                                <div class="form-group row mb-3">
                                                    <label for="username"
                                                        class="col-sm-3 text-end control-label col-form-label">ConfirmPassword:</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" class="form-control" id="username"
                                                            name="confirm_pass"
                                                            placeholder="Enter your ConfirmPassword" />
                                                    </div>
                                                </div>

                                                <!-- Hidden Email Field -->
                                                <input type="hidden" name="email" value="<%= email.email %>">

                                                <!-- Admin Profile Upload -->

                                                <!-- Update Button -->
                                                <div class="border-top pt-3">
                                                    <button type="submit" class="btn btn-outline-danger w-100">
                                                        Submit
                                                    </button>
                                                </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <footer class="footer text-center">
                            All Rights Reserved by Matrix-admin. Designed and Developed by
                            <a href="https://www.wrappixel.com">WrapPixel</a>.
                        </footer>

                    </div>

        </div>

        <%- include('../layouts/jslink') -%>

    </body>

    </html>